@font-face {
     font-family: 'Lars';
     src: url('AtlasGrotesk-Regular-Web.eot');
     src: url('AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'), url('AtlasGrotesk-Regular-Web.woff2') format('woff2'), url('AtlasGrotesk-Regular-Web.woff') format('woff');
     font-weight: 400;
     font-style: normal;
     font-stretch: normal;
}
 @font-face {
     font-family: 'Lars';
     src: url('Lars-Regular.eot');
     src: url('Lars-Regular.eot?#iefix') format('embedded-opentype'), url('Lars-Regular.woff2') format('woff2'), url('Lars-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
}
 *, *:after, *:before, @import "compass/css3";
 .active, .link:hover {
     color: yellow;
}
 .accordion {
     margin: 0px;
     dt, dd {
         padding: 10px;
         border: 2px solid black;
         border-bottom: 2px solid black;
         &:last-of-type {
             border-bottom: 1px solid black;
        }
         a {
             display: block;
             color: black;
             font-weight: bold;
             border-bottom: 1px solid black;
        }
    }
     dd {
         border-top: 0;
         font-size: 12px;
         &:last-of-type {
             border-top: 1px solid white;
             position: relative;
             top: -1px;
        }
    }
}
 a {
     text-decoration: underline;
     text-decoration-skip: ink;
     -webkit-text-decoration-skip: ink;
     color: black;
}
 i {
     position:absolute;
     right: 20px;
     top:14px;
     -webkit-transition:all 300ms ease-in 0s;
     -moz-transition: all 300ms ease-in 0s;
     -o-transition: all 300ms ease-in 0s;
     transition: all 300ms ease-in 0s;
}
 .ui-state-active i {
     color: #ACD4CE;
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     transform: rotate(180deg);
}
 a {
     text-decoration: underline;
     text-decoration-skip: ink;
     -webkit-text-decoration-skip: ink;
     color: black;
}
 a:hover {
     color: white;
}
 * {
     margin: 0;
}
 body {
     margin-top: 0px;
     font-family: 'Lars';
     font-weight: 400;
     font-style: normal;
     font-stretch: normal;
     font-size: 2.5vw;
     background-color: white;
     -webkit-column-break-inside:avoid;
}
 h2 {
     font-weight: normal;
     font-size: 3vw;
}
 h3 {
     font-weight: normal;
     margin-left: 1em;
}
 a:active {
     color: yellow;
}
 *::selection {
     color: white;
}
 p {
     font-family: 'Lars';
     font-size: 3vw;
     line-height: 3.3vw;
     margin-bottom: 40px;
     font-weight: 400;
     font-style: normal;
     font-stretch: normal;
}
 dl {
     font-family: 'Lars';
     font-size: 3.5vw;
     line-height: 3.8vw;
     margin-bottom: 20px;
     font-weight: 400;
     font-style: normal;
     font-stretch: normal;
}
 dl a {
     color: black;
     text-decoration: underline;
     text-decoration-skip: ink;
     -webkit-text-decoration-skip: ink;
}
 dt {
     border-bottom: 2px solid black;
}
 p a {
     color: black text-decoration: underline;
     text-decoration-skip: ink;
     -webkit-text-decoration-skip: ink;
}
 // a:visited {
     // color: black;
     text-decoration: underline;
     text-decoration-skip: ink;
     -webkit-text-decoration-skip: ink;
     // 
}
 .table {
     table-layout: fixed;
     width: 100%;
}
 @supports (display: grid) {
     .table {
         display: grid;
         grid-gap: 50px;
         gap: 50px;
    }
     .bracket {
         color:black;
         columns: 2;
         font-family: 'Lars';
         font-size: 3.5vw;
         line-height: 3.8vw;
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
    }
     img {
         width: 30%;
         margin-top: 20px;
         mix-blend-mode: multiply;
         display:block;
         margin: 0 auto;
    }
     .schedule2 {
    }
     .accordion H2 A{
         padding: 11px 0px;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
        /* background: #000;
         */
        border-bottom: 3px solid black;
         
         display: block;
         text-decoration: none;
         margin-bottom: 0;
         color: black;
    }
     #sone {
         padding-top: 50px;
         padding-bottom: 60px;
         text-align: center;
         text-transform: uppercase;
        /* text-transform: uppercase;
         */
    }
     .accordion H2{
         margin: 0;
    }
     .accordion P {
         margin: 0px 0;
    }
     .accordion {
         margin-top: 0px;
    }
     .inner{
    }
     .accordion + H1 {
         margin-top: 64px;
    }
     .accordion H2 A:before {
         content: '+ ';
         margin-right: 1vw;
         padding-right: 2vw;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
         width: 5px;
         display: inline-block;
         float: right;
    }
     .accordion H2 A.selected:before {
         content: '–';
         padding-right: 2vw;
         margin-right: 1vw;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
         width: 5px;
         display: inline-block; ;
    }
     .accordion .inner {
         padding: 20px 0px;
         background: ;
         margin-left: 1em;
    }
     .info2 {
         padding: 10px 10px;
         background: ;
         columns: 1;
         width: 50%;
         float: left;
    }
     .info3 {
         padding: 10px 10px;
         background: ;
         columns: 1;
    }
     A.selected {
        /*color: black !important;
         */
    }
     li {
         font-size: 3vw;
         line-height: 3.3vw;
    }
     .nav {
         width: 100%;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 10;
         background: #fff;
         font-size: 2.5vw;
         line-height: 3.3vw;
         padding: 10px 40px;
         text-align: center;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: justify;
         -ms-flex-pack: justify;
         justify-content: space-between;
         margin-bottom: 20px;
        /*text-transform: uppercase;
         */
         box-sizing: border-box;
         align-items: center;
    }
     .nav li {
         list-style: none;
         display: inline-block;
    }
     .nav .link {
         text-decoration: none;
         color: #333;
    }
     .blocks {
         width: 100%;
         min-height: 100%;
         overflow: hidden;
         line-height: 2.7vw;
         padding: 40px;
         box-sizing: border-box;
         background-color: yellow;
    }
     .blocks:nth-child(1) {
    }
     .blocks:nth-child(2) {
    }
     .blocks:nth-child(3) {
    }
     .blocks:nth-child(4) {
    }
     .blocks:nth-child(5) {
    }
     .content {
         justify-content:center;
         align-items:center;
         align-content:center;
         display: flex;
         flex-direction:row;
    }
     #coreinteraction {
         font-size: 7.5vw;
         line-height: 8vw;
         text-align: center;
         padding-top: 0%;
         padding-bottom: 0px;
         height: 100vh;
         /*background-color: lawngreen;*/
         color: black;
         -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
         flex:10;
         display: flex;
         text-align: center;
         align-items:center;
         justify-content:center;
         align-content:center;
    }
     .columns {
         columns: 1;
         column-gap: 40px;
    }
     #readings, #resources {
         height: 100vh;
         background-color: black;
         color: white;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
         overflow: auto;
    }
     -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
     -o-font-smoothing: antialiased;
     text-rendering: optimizeLegibility -moz-osx-font-smoothing: grayscale;
}
 .nav a.active {
     color: black !important;
     text-decoration: underline !important;
}
 .components {
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: flex-start;
     align-items: flex-start;
}
 .text-column {
     width: 300px;
     height: 250px;
     flex-grow: 1;
     flex-shrink: 0;
     flex-basis: 200px;
}


a.one:link {color:white; text-decoration: none;}
a.one:visited {color:white;}
a.one:hover {text-decoration: underline !important;
}

a.two:link {color:black; text-decoration: none;}
a.two:visited {color:black;}
a.two:hover {text-decoration: underline !important;
}



     #workshop {
          height: 100vh;
         background-color: black;
         color: white;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
         padding-top: 140px;
         padding-bottom: 0px;
         height: 100vh;
         /*background-color: lawngreen;*/
         -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
         flex:10;
          display: flex;
         align-items:flex-start;
         align-content:center;
         font-size: 3vw;
         line-height: 3.3vw;
    }





 @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
     .nav span {
         display: none;
    }
     span {
         display: none;
    }
     #coreinteraction {
         font-size: 7.5vw;
         line-height: 8vw;
    }
     p {
         font-size: 6vw;
         line-height: 6.5vw;
    }
     h2 {
         font-size: 6vw;
         line-height: 6.5vw;
    }
     h3 {
         font-size: 6vw;
         line-height: 6.5vw;
    }
     .blocks {
         padding: 30px;
    }
     .nav {
         font-size: 6vw;
         line-height: 6.5vw;
         display: inline-block;
    }
     .columns {
         columns: 1;
    }
     li {
         font-size: 6vw;
         line-height: 6.5vw;
    }
     #sone {
         padding-top: 100px;
    }
     .components {
         display:flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: flex-start;
         align-content: flex-start;
         align-items: flex-start;
    }
     .text-column {
         width: auto;
         height: auto;
         flex-grow: 1;
         flex-shrink: 0;
         flex-basis: auto;
    }

         #workshop {
         height: 100vh;
         background-color: black;
         color: white;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
         padding-top: 140px;
         padding-bottom: 0px;
         height: 100vh;
         /*background-color: lawngreen;*/
         -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
         flex:10;
         display: flex;
         align-items:flex-start;
         font-size: 6vw;
         line-height: 6.5vw;
    }


a.one:link {color:white; text-decoration: none;}
a.one:visited {color:white;}
a.one:hover {text-decoration: underline !important;
}

a.two:link {color:black; text-decoration: none;}
a.two:visited {color:black;}
a.two:hover {text-decoration: underline !important;
}


}
 @media only screen and (min-width: 380px) and (max-width: 612px) {
     .nav span {
         display: none;
    }
     span {
         display: none;
    }
     #coreinteraction {
         font-size: 7.5vw;
         line-height: 8vw;
    }
     p {
         font-size: 5.5vw;
         line-height: 6vw;
    }
     h2 {
         font-size: 5.5vw;
         line-height: 6vw;
    }
     h3 {
         font-size: 5.5vw;
         line-height: 6vw;
    }
     .blocks {
         padding: 30px;
    }
     .nav {
         font-size: 5.5vw;
         line-height: 6vw;
         display: inline-block;
    }
     .columns {
         columns: 1;
    }
     li {
         font-size: 5.5vw;
         line-height: 6vw;
    }
     #sone {
         padding-top: 100px;
    }
     .components {
         display:flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: flex-start;
         align-content: flex-start;
         align-items: flex-start;
    }
     .text-column {
         width: auto;
         height: auto;
         flex-grow: 1;
         flex-shrink: 0;
         flex-basis: auto;
    }


     #workshop {
         height: 100vh;
         background-color: black;
         color: white;
         font-family: 'Lars';
         font-weight: 400;
         font-style: normal;
         font-stretch: normal;
         padding-top: 140px;
         padding-bottom: 0px;
         height: 100vh;
         /*background-color: lawngreen;*/
         -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
         flex:10;
         display: flex;
         align-items:flex-start;
         font-size: 5.5vw;
         line-height: 6vw;
    }


a.one:link {color:white; text-decoration: none;}
a.one:visited {color:white;}
a.one:hover {text-decoration: underline !important;
}

a.two:link {color:black; text-decoration: none;}
a.two:visited {color:black;}
a.two:hover {text-decoration: underline !important;
}


}
 